.app{
  text-align: center;
}

.input-wrapper{
  height: 36px;
  background-color: rgb(232, 230, 230);
}
.search-input{
  height: 24px;
  width: 40vw;
}

.flags-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}